---
title: "Education"
---

<section class="education">
  <h2>🎓 Education</h2>
  <table>
    <thead>
      <tr>
        <th>Degree</th>
        <th>Institution</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ph.D. in Electrical Engineering</td>
        <td>College of Engineering, University of South Florida</td>
        <td>2022.09 – Present</td>
      </tr>
      <tr>
        <td>B.S. in Electrical and Computer Engineering</td>
        <td>Henry M. Rowan College of Engineering, Rowan University</td>
        <td>2018.09 – 2022.06</td>
      </tr>
    </tbody>
  </table>
</section>