---
layout: ../layouts/PublicationLayout.astro
title: Aakash Tripathi's Publications
---

<Header />

<Navbar />

<SectionContainer>
  <h1>Publications</h1>
  <Publications />
</SectionContainer>

<Footer />