---
title: "Aakash Tripathi's Portfolio"
description: "Welcome to the personal research portfolio of Aakash Tripathi, showcasing education, publications, and research interests."
---

<header>
  <h1>Aakash Tripathi</h1>
  <p>Ph.D. Candidate in Electrical Engineering</p>
  <p>Conducting Multimodal Medical Research at <a href="https://lab.moffitt.org/Rasool/">Moffitt Cancer Center</a></p>
</header>